<div class="banner">
  <div class="banner-content">
    <h1>List of Cocktails</h1>
    <p><strong>Change your life: </strong>learn how to make cocktails</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |ct| %>
      <div class="col-xs-12 col-sm-4 col-md-3" >
        <%= link_to cocktail_path(ct) do %>
          <div class="cocktail-card">
            <h3><%= ct.name %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>





